In [19]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
#pd.set_option('display.max_rows', None)

# Pair Unión y Limpieza de Datos


## UNIÓN: 

Asegúrate de realizar los siguientes pasos:

1. Explora y carga ambos conjuntos de datos en pandas DataFrames.

In [20]:
df1 = pd.read_csv("data/world-data-2023_part1.csv", index_col=0)
df1.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

In [21]:
df2 = pd.read_csv("data/world-data-2023_part2.csv", index_col=0)
df2.head()

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

2. Identifica las columnas comunes entre los dos conjuntos de datos.

In [22]:
df_combined = pd.concat([df1, df2], axis=1)
duplicated_columns = df_combined.columns[df_combined.T.duplicated()]

duplicated_columns

Index(['country'], dtype='object')

3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

In [23]:
df3 = pd.merge(df1,df2, left_on="Country", right_on="country")
df3.head(1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"

4. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

Elección: al detectar una columna en común el método merge es el adecuado.
Pasos:
- Cargar los csv
- Concatenar columnas para luego poder:
- Encontrar columnas duplicadas, lo que nos ha llevado a:
- Decidir como método de unión: merge

## LIMPIEZA: 

1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [24]:
df3.drop(columns=["country"], inplace=True)
df3.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"

2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

- No tengan espacios.

- Estén en minúscula.

- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [25]:
nuevas_columnas = {columna: columna.lower().replace(" ", "").replace("(", "").replace(")", "").replace("\n", "").replace(":", "") for columna in df3}
nuevas_columnas

{'Country': 'country',
 'Density\n(P/Km2)': 'densityp/km2',
 'Abbreviation': 'abbreviation',
 'Agricultural Land( %)': 'agriculturalland%',
 'Land Area(Km2)': 'landareakm2',
 'Armed Forces size': 'armedforcessize',
 'Birth Rate': 'birthrate',
 'Calling Code': 'callingcode',
 'Capital/Major City': 'capital/majorcity',
 'Co2-Emissions': 'co2-emissions',
 'CPI': 'cpi',
 'CPI Change (%)': 'cpichange%',
 'Currency-Code': 'currency-code',
 'Fertility Rate': 'fertilityrate',
 'Forested Area (%)': 'forestedarea%',
 'Gasoline Price': 'gasolineprice',
 'GDP': 'gdp',
 'Gross primary education enrollment (%)': 'grossprimaryeducationenrollment%',
 'Gross tertiary education enrollment (%)': 'grosstertiaryeducationenrollment%',
 'Infant mortality': 'infantmortality',
 'Largest city': 'largestcity',
 'Life expectancy': 'lifeexpectancy',
 'Maternal mortality ratio': 'maternalmortalityratio',
 'Minimum wage': 'minimumwage',
 'Official language': 'officiallanguage',
 'Out of pocket health expenditure': 'outofpockethealthexpenditure',
 'Physicians per thousand': 'physiciansperthousand',
 'Population': 'population',
 'Population: Labor force participation (%)': 'populationlaborforceparticipation%',
 'Tax revenue (%)': 'taxrevenue%',
 'Total tax rate': 'totaltaxrate',
 'Unemployment rate': 'unemploymentrate',
 'Urban_population': 'urban_population',
 'coordinates': 'coordinates'}

In [26]:
df3.rename(columns=nuevas_columnas, inplace = True)
df3.head(1)

,country,densityp/km2,abbreviation,agriculturalland%,landareakm2,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange%,currency-code,fertilityrate,forestedarea%,gasolineprice,gdp,grossprimaryeducationenrollment%,grosstertiaryeducationenrollment%,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation%,taxrevenue%,totaltaxrate,unemploymentrate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [27]:
df3["coordinates"].str.split("-",expand = True).get([1,2])

                             1     2
0                         None  None
1                         None  None
2                         None  None
3                         None  None
4    11.202692 ', '17.873887')  None
..                         ...   ...
190                 66.58973')  None
191                       None  None
192                       None  None
193  13.133897 ', '27.849332')  None
194  19.015438 ', '29.154857')  None

[195 rows x 2 columns]

4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

- Guarda el DataFrame para usarlo en el pairprogramming de mañana.

## Filtrado

1.  Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

5. Encuentra los países cuyatasa de fertilidad sea mayor a 6.

6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.